@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --primary-color: #fe5b3e;
    --text-dark: #0f172a;
    --text-light: #475569;
    --extra-light: #f2f2f2;
    --white: #ffffff;
    --max-width: 1200px;
    --gradient: linear-gradient(to bottom, #fe5c3c, #fc8023);
    --color-2: #474fa0;
    --color-3: #3c4286;
    --favourites: #f1c40f;
}

*
{
    box-sizing: border-box;
}

h1
{
    font-family: font51;
    font-size: 2em;
}

h2
{
    font-family: font51;
    font-size: 1.3em;
}

p
{
    font-family: font39;
    font-size: 1em;
    max-width: 700px;
    margin: auto;
}

a
{
    font-family: font39;
}

button
{
    font-family: font39;
    font-size: 1em;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: var(--color-2);
    outline: none;
    color: white;
    text-align: center;
}

button:hover
{
    background-color: var(--color-3);
    transition: 0.3s;
}

i
{
    font-size: 30px;
}

body
{
    margin: 0;
    padding: 0;
}

.quickaccess
{
    margin: 20px;
    border: 1px solid black;
    max-width: 100%;
    min-height: 300px;
}

.quickaccess .setpanel
{
    display: flex;
    flex-wrap: wrap;
}

.quickaccess .sets
{
    width: 17%;
    height: 200px;
    margin: 10px auto;
    border: 1px solid black;
    align-items: center;
    padding: 20px;
}

.quickaccess .sets .setname
{
    font-size: 0.6em;
    font-weight: bold;
}